<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Ceny</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
		</head>
		<body>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>

		<style>
		img {
			height: 200px;
		}
		td {
			padding: 20px;
			vertical-align: top;
			}
		</style>

		<table>
		<tr>
		<td>
<div class="panel panel-primary">
<div class="panel-heading">
<h3 class="panel-title">Lev</h3>
</div>
<div class="panel-body">
Lindt Pralines Nougat - směs mléčných pralinek 200g
<br/>
<img src="img/Soubor_000.jpeg">
<br/>
Elektronický dárkový poukaz Alza.cz na nákup zboží
<img src="img/alza500.jpg">
</div>
</div>
</td>

		<td>
<div class="panel panel-success">
<div class="panel-heading">
<h3 class="panel-title">Zajíc</h3>
</div>
<div class="panel-body">
Lindt Hochfein - Směs nugátových,marcipánových a mandlových pralinek 200g
<br/>
<img src="img/Soubor_001.jpeg">
<br/>
Elektronický dárkový poukaz Alza.cz na nákup zboží
<img src="img/alza400.jpg">
</div>
</div>
</td>


		<td>
<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title">Žralok</h3>
</div>
<div class="panel-body">
<div class="panel-body">
Lindt BONBONIERA SWISS LUXURY SELECTION  230g
<img src="img/Soubor_002.jpeg">

<br/>
Elektronický dárkový poukaz Alza.cz na nákup zboží
<img src="img/alza300.jpg">
</div>
</div>
</td>
</tr>
<tr>

		<td>
<div class="panel panel-warning">
<div class="panel-heading">
<h3 class="panel-title">Opice</h3>
</div>
<div class="panel-body">
Lindt Pralines Classic 200g
<br/>
<img src="img/Soubor_003.jpeg">

</div>
</div>
</td>


		<td>
<div class="panel panel-danger">
<div class="panel-heading">
<h3 class="panel-title">Balvan</h3>
</div>
<div class="panel-body">
Lindor Směs příchutí 200g<br/>
<img src="img/Soubor_004.jpeg">

</div>
</div>
</td>



</tr>
</table>

    </body>
</html>

